<mat-card>
  <img *ngIf="image" mat-card-image [src]="image" draggable="false">
  <mat-card-content>
    {{text}}

    <div *ngIf="author">By: {{author}}</div>

    <div *ngIf="tags">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of tags" selectable="false">{{tag}}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="delete.next()">DELETE</button>
    <button mat-button (click)="edit.next()">EDIT</button>
  </mat-card-actions>
</mat-card>
